.ownfont{
    font-family: 'Poppins', sans-serif;
}

.cardcolor{
    background-color: #fde741;
}
.cardcolor2{
    background-color: #f5bfd2;
}

/* .outsidee{
position: relative;
margin-top: -70px;
} */


.card{
    border-radius: 20px;
}

.imgr{
     border-radius: 20px;
}

.btnr{
    border-radius: 20px;
}

.btnr:hover{
    color: white !important;
}

.col .sticky-top{
    align-self: flex-start;
}

